@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Manrope:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Cinzel", serif;
  --font-body: "Manrope", sans-serif;
  --color-gold: #d4af37;
  --color-gold-hover: #b4941f;
  --color-dark: #0f172a;
}

body {
  font-family: var(--font-body);
  background-color: #fafafa;
  color: var(--color-dark);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}